<launch>  
  <include file="$(find aruco_detect)/launch/aruco_detect.launch">
      <param name="publish_images" value="true" />
      <arg name="do_pose_estimation" value="true" />
      <arg name="vis_msgs" value="true" />
      <arg name="fiducial_len" value="0.14" />
      <arg name="dictionary" value="7" />
      <arg name="camera" value="raspicam_node" />
      <arg name="image" value="image" />
  </include>

  <node name="mapper" pkg="warehouse_robot" type="mapper.py" output="screen" >
    <param name="robot_namespace" value=""/>
  </node>
  <node name="my_odom" pkg="warehouse_robot" type="my_odom.py" output="screen" >
    <param name="robot_namespace" value=""/>
  </node>
</launch>